/ProyectoConcurrente/nbproject/private/
/ConcurrenteParcial/nbproject/private/
/ProyectoConcurrente/build/
/ProyectoConcurrente/dist/
/ProyectoConcurrenteCliente/nbproject/private/
/ProyectoConcurrenteCliente/build/
/Ensayo/nbproject/private/
/Ensayo/build/
/appEventClient/nbproject/private/