/ProyectoConcurrente/nbproject/private/
/ConcurrenteParcial/nbproject/private/
/ProyectoConcurrente/build/
/ProyectoConcurrente/dist/
/ProyectoConcurrenteCliente/nbproject/private/
/ProyectoConcurrenteCliente/build/
/Ensayo/nbproject/private/
/Ensayo/build/
/appEventClient/nbproject/private/
/ProyectoConcurrenteCliente/dist/
/cuboHTML/nbproject/private/
/cuboHTML/build/
/webService1Servidor/nbproject/private/
/webService1Server/nbproject/private/
/webService1Client/nbproject/private/
/WebService1Server/nbproject/private/
/WebService1Client/nbproject/private/
/WebService1Client/build/
/WebService1Server/build/